<mat-nav-list style="margin-top: 40px">
  <div class="profile-card">
    <img src="https://www.pngitem.com/pimgs/m/22-223968_default-profile-picture-circle-hd-png-download.png" alt="">
    <div class="header">
      <p>Super Admin</p>
      <h4>hridoy45@email.com</h4>
    </div>
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">Home</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/category">Products</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contact">Contact</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/billing">Billing Address</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/users">User Management</a>
</mat-nav-list>
